/* ==================================================
   Footer
================================================== */

footer {
	color: #fff;
	padding: 20px 15px!important;
	background: $brand-primary;
	@include breakpoint (0px 640px) {
		text-align: center;
	}

	.credits {
	font-size: 16px;
	margin: 0;	
	color: #fff;
	@include span (9);

		@include breakpoint (0px 640px) {
			@include span (12);
			
		}
	}

	.logo-footer {
		@include span (3);
		@include breakpoint (0px 640px) {
			@include span (12);
		}
	}

	img {
		width: 100%;
		height: auto;
	}
} 



.footer {
	@include container (60em);
}