header {

	width: 100%;
	z-index: 99;
	background: $brand-gray;
	height: 60px;

	#logo {
		color: #FFFFFF;
		float: left;
		padding: 10px 0;
		margin-left: 20px;
		position: absolute;
		left: 0;
	    top: 0;
	    z-index: 10;

		a {
			background: url(../img/logo.svg) no-repeat;
			width: 138px;
			height: 40px;
			text-indent: -9999px;
			display: block;
			opacity: 1;
			filter: alpha(opacity=100);
			transition: opacity 0.25s ease-in-out 0s;

			&:hover {
				opacity: 0.65;
				filter: alpha(opacity=65);	
			}	
		}
	}
}
