/* ==================================================
   Campaign Listings
================================================== */

/* http://www.htmlgoodies.com/html5/css/using-css-to-make-a-visually-consistent-cross-browser-html5-progress-bar.html */
progress, progress[role] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-size: auto;    
}

progress[role]:after {
    background-image: none;
}

progress[role] strong {
    display: none;
}
  
@include breakpoint (0 320px) {
    .campaign-listing {
        margin: 0 auto;
        max-width:290px;
        margin-top:20px;
    }
}


@include breakpoint (321px) {
    .campaign-listing {
        margin: 0 auto;
        max-width: 450px;
        margin-top:20px;
    }
}


@include breakpoint (0 480px) {
    .campaign-listing {
        margin: 0 auto;
        max-width: 450px;
        background:$brand-gray;
        padding:10px;
        margin-top:20px;
    }

    .campaign-funding {
            
            progress {
                margin:0 0 5px;
            }
            
            ul {
                list-style:none;
                
                li {
                    display:inline-block;
                    text-align:center;
                    width:23.5%;
                    
                    strong {
                        display:block;
                        font-weight:600;
                    }
                    
                    span {
                        display:block;
                        font-size:8px;
                    }
                }
                
                li.ends-today {
                    color:#f00;
                }
            
            }
        
        }
}

@include breakpoint (480px) {
    .campaign-listing {
        margin: 0 auto;
        max-width: 450px;
        background:$brand-gray;
        padding:10px;
        margin-top: 20px;
    }

    .campaign-funding {
            
            progress {
                margin:0 0 5px;
            }
            
            ul {
                list-style:none;
                
                li {
                    display:inline-block;
                    text-align:center;
                    width:23.5%;
                    
                    strong {
                        display:block;
                        font-weight:600;
                    }
                    
                    span {
                        display:block;
                        font-size:8px;
                    }
                }
                
                li.ends-today {
                    color:#f00;
                }
            
            }
        
        }
}


@include breakpoint (768px) {
.listings {
    //padding:20px 0 0 20px;

    .campaign-listing {
        float:left;
        background:$brand-gray;
        padding:10px;
        max-width:260px;
        width: 100%;
        margin:0 20px 20px 0;
        font-size:12px;
        line-height:1.4;
        box-sizing:border-box;
        
        img {
            margin:0 0 5px;
        }
        
        h3 {
            font-size:14px;
            line-height:1.4em;
            margin:0;
            height:44px; 
            overflow:hidden;
            
            a {
                display:table-cell;
                vertical-align:middle;
                height:inherit;
            }
        }
        
        p { 
            margin:0 0 5px;
            height:72px; 
            overflow:hidden;
            
            a {
                color:#222;
            }
        }
    }
        
        .campaign-funding {


            
            progress {
                margin:0 0 5px;
            }
            
            ul {
                list-style:none;
                
                li {
                    display:inline-block;
                    text-align:center;
                    width:23.5%;
                    
                    strong {
                        display:block;
                        font-weight:600;
                    }
                    
                    span {
                        display:block;
                        font-size:8px;
                    }
                }
                
                li.ends-today {
                    color:#f00;
                }
            
            }
        
        }
    
        
        .successful {
            
            ul {
            
                li {
                    width:32%;
                
                    strong {
                        color:#3c3;
                    }
                
                }
                
            }
            
        }
        
        .failed {
            
            ul {
            
                li {
                    width:32%;
                
                    strong {
                        color:#f00;
                    }
                
                }
                
            }
            
        }
        
    }

}


.campaign-funding {
    border-radius:5px;
    padding:8px;
    background:#fff;
    text-align:center;
        

    progress {
        border:none;
        width:100%;
        height:18px;
        color: $brand-primary;
    }

    progress, progress[role][aria-valuenow] {
       background: #eee !important;
    }

    progress::-webkit-progress-bar {
        background: #eee;
    }

    progress::-moz-progress-bar {
        background: $brand-primary;  
    }

    progress::-webkit-progress-value {
        background: $brand-primary;  
    }

    progress[aria-valuenow]:before {
        background: $brand-primary;  
    }


}

.successful {
            
    progress::-moz-progress-bar {
        background: #3c3;  
    }

    progress::-webkit-progress-value {
        background: #3c3;  
    }

    progress[aria-valuenow]:before {
        background: #3c3;  
    }
    
}

.failed {
            
    progress::-moz-progress-bar {
        background: #f00;  
    }

    progress::-webkit-progress-value {
        background: #f00;  
    }

    progress[aria-valuenow]:before {
        background: #f00;  
    }
    
}



.project-funding {
    height:326px;
    font-size:12px;
    line-height:1.4;
    
    .container {
        padding:10px;
        text-align:center;
        
        .campaign-funding {
            text-align:left;
            margin:0 0 10px;
            
            ul {
                position: relative;
                overflow: auto;
                width: 100%;

                li {
                    display:block;
                    font-size:22px;
                    line-height:1.6; 

                    span {
                    font-size:14px;
                    display:inline-block;
                    vertical-align:middle;
                    position: absolute;
                    right: 20px;
                    } 

                    strong {
                    font-weight:600;
                    display:inline-block;
                    text-align:left;
                    width:30%;
                    margin:0 5px 0 0;
                    }       
                }    
            }      
        }
        
        p {
            margin:0 0 10px;
        }
    }
}

