/* ==================================================
   Contact Section
================================================== */


.contact-details {

	@include span (4);

	ul {
		margin: 0;
		padding: 0;
		list-style: none;	
	}

	li {
		margin: 0 0 20px;
		line-height: 28px;
		padding: 0;	
	}
}


#contact-form {
	margin-bottom: 0;
	@include span (4);	
}

#contact-form p {
	margin-bottom: 1px;	
}

#contact-form input,
#contact-form textarea {
    border-radius: 0;
	box-shadow: none;
	background: $gray-lighter;
    color: $brand-primary;
    font-size: 16px;
    height: auto;
    padding: 15px;
    resize: none;
    font-family: 'Open sans';
}

#contact-form {
	input {
	    width: 100%;
		box-sizing: border-box;
	}
	textarea {
	    width: 100%;
		resize: vertical;
		box-sizing: border-box;
	}
}

#contact-form {
	.submit {
	display: inline-block;
  	margin-bottom: 0;
  	padding: 13px 26px;
    border: 2px solid $gray;
  	background: $brand-primary;
  	color: $brand-gray;
  	vertical-align: middle;
  	text-align: center;
  	font-weight:500;
  	font-size: 16px;
  	cursor: pointer;
  	margin-top:10px;
    transition: all 0.1s linear;
  	*border: 0;
  	*zoom: 1; 

		&:hover {
		    background: $brand-secondary;
		    color: #FFFFFF;
		}
	}
}

#response {
	margin-top: 20px;
	color: #FFFFFF;
}

input[type=text],
input, 
textarea {
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 15px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $brand-primary-light;
}
 
input[type=text]:focus,
input:focus, 
textarea:focus {
  box-shadow: 0 2 8px rgba(89, 132, 197, 1);
  padding: 15px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(89, 132, 197, 1);
}