
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
  float: right;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
  background: transparent;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: $orange;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 22px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;

  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: $orange;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  content: "";
  transform: rotate(45deg);
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: $orange;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  transition: color .2s ease;
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}

#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  transform: rotate(-45deg);
  transition: border-color 0.2s ease;
}

#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    float: right;
  }
  #cssmenu ul {
    display: none;
    width: 100%;
    overflow: auto;
    background: $orange;
    overflow-y: hidden; 
    margin-left: 126px;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: center;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    height: auto;
  }

	#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: $gray;
}

  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #ffffff;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #ffffff;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block!important;
    padding: 23px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    text-align: right;
    width: 115px;
    float: right;
    background: $orange;
  }

  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }

  #cssmenu.align-right > ul > li {
  	float: left;
  }

  #mobile-nav-icon {
    display: block!important;
	}

#mobile-nav-icon.open-x span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 9px);
}

#mobile-nav-icon.open-x span:nth-child(2) {
    opacity: 0;
}

#mobile-nav-icon.open-x span:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -9px);
}

#mobile-nav-icon {
    cursor: pointer;
    display: none;
    float: right;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 5px;
    position: absolute;
    right: 60px;
    top: 16px;
    width: 30px;
    z-index: 10000;
}

#mobile-nav-icon span {
    background: none repeat scroll 0 0 #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
    opacity: 1;
    transition: all 0.5s ease 0s;
    width: 100%;
}
}